#blogs{
    .main-cover{
        //Import Main Cover Stylesheet
    }

    .container-fluid{
        background-color: #f7f7f7;

        &#list-blogs{
            .container{
                padding-top: 50px;
                padding-bottom: 50px;

                .row{
                    .left{
                        .item{
                            width: 100%;

                            margin-bottom: 30px;

                            display: flex;
                            flex-direction: row;

                            background-color: #fff;

                            @include boxShadow(0,0,15px,rgba(0,0,0,0.15));

                            .item-image{
                                width: 305px;
                                height: 305px;

                                .mask{
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .item-content{
                                width: calc(100% - 305px);
                                padding: 15px 30px;

                                .content-header{
                                    margin-bottom: 30px;

                                    span{

                                    }

                                    a{
                                        color: $gray-base;

                                        h3{
                                            font-weight: 400;
                                        }
                                    }

                                    ul{
                                        li{
                                            display: inline-block;

                                            font-size: 0.75rem;

                                            color: $gray-lightest;

                                            &:last-of-type{
                                                margin-left: 15px;
                                            }
                                        }
                                    }
                                }

                                .content-body{
                                    margin-bottom: 15px;

                                    p{
                                        &.text-wrapper{
                                            height: 4.3rem;
                                            -webkit-line-clamp: 3;
                                        }
                                    }
                                }

                                .content-footer{
                                    text-align: right;
                                }
                            }
                        }

                        .see-more{
                            width: 100%;

                            text-align: center;
                        }
                    }

                    .right{
                        .heading{
                            padding: 7px 15px;
                            margin-bottom: 30px;

                            text-align: center;

                            background-color: #fff;

                            h4{
                                font-weight: 400;
                            }
                        }

                        .body{
                            .item{
                                width: 100%;

                                margin-bottom: 30px;

                                display: flex;
                                flex-direction: column;

                                background-color: #fff;

                                .item-image{
                                    width: 100%;
                                    height: 215px;

                                    .mask{
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                .item-content{
                                    width: 100%;
                                    padding: 15px 30px;

                                    .content-header{
                                        margin-bottom: 30px;

                                        span{

                                        }

                                        a{
                                            color: $gray-base;

                                            h3{
                                                font-weight: 400;
                                            }
                                        }

                                        ul{
                                            li{
                                                display: inline-block;

                                                font-size: 0.75rem;

                                                color: $gray-lightest;

                                                &:last-of-type{
                                                    margin-left: 15px;
                                                }
                                            }
                                        }
                                    }

                                    .content-body{
                                        margin-bottom: 15px;

                                        p{
                                            &.text-wrapper{
                                                height: 4.3rem;
                                                -webkit-line-clamp: 3;
                                            }
                                        }
                                    }

                                    .content-footer{
                                        text-align: right;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#detail-blog{
    //Import Detail Post Stylesheet
}

/*
=========================================
TABLETS (less than 1200px)
=========================================
 */

@media (max-width: 1199.98px){
    #blogs {
        .container-fluid {
            &#list-blogs {
                .container {
                    .row {
                        .left {
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}