/*
===========================
===========================

CONTACT STYLE

Author: hung.luong@matocreative.vn

===========================
===========================
 */

#contact{
    width: 100%;

    overflow-x: hidden;

    position: relative;

    .cover {
        width: 100%;

        .mask {
            width: 75%;
            height: 30vh;

            margin-left: 25%;

            position: relative;

            .overlay {
                width: 100%;
                height: 100%;

                @include gradient-primary;
                filter: opacity(90%);

                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }
        }
    }

    .container{
        padding-top: 50px;
        padding-bottom: 50px;

        .row{
            .item{
                height: 300px;
                padding: 15px;

                text-align: center;

                .inner{
                    height: 100%;

                    background-color: $gray-lighter;

                    .content{
                        width: 100%;

                        p{
                            &.paragraph{
                                b{
                                    font-family: "webFont-b";
                                }
                            }
                        }

                        a{
                            &.btn{
                                margin-top: 15px;
                            }

                            &#hotline{
                                font-size: 2rem;

                                color: $primary;
                            }
                        }
                    }
                }
            }
        }
    }
}

#form-contact{
    .cover {
        width: 100%;

        .mask {
            width: 75%;
            height: 30vh;

            margin-left: 25%;

            position: relative;

            .overlay {
                width: 100%;
                height: 100%;

                @include gradient-primary;
                filter: opacity(90%);

                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }
        }
    }

    .container{
        padding-top: 50px;
        padding-bottom: 50px;

        .row{
            padding-top: 70px;

            .form-horizontal{
                padding-bottom: 30px;

                .form-group{
                    .form-control{
                        border-radius: 0;
                        border: none;

                        background-color: $gray-lighter;
                    }
                }
            }
        }
    }
}

#support{
    .cover {
        width: 100%;

        margin-bottom: 30px;

        .mask {
            width: 75%;
            height: 50vh;

            margin-left: 25%;

            position: relative;

            .overlay {
                width: 100%;
                height: 100%;

                @include gradient-primary;
                filter: opacity(90%);

                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }
        }
    }

    .container{
        .row{
            .item{
                padding: 15px;

                .inner{
                    width: 100%;

                    border: 1px solid $gray-lighter;

                    .mask{
                        width: 100%;
                        height: 230px;

                        margin-bottom: 30px;
                    }

                    h3{
                        &.title-sm{
                            padding-left: 15px;
                            padding-right: 15px;

                            color: $gray;
                        }
                    }

                    &:hover{
                        background-color: #f7f7f7;
                    }
                }
            }
        }
    }
}

#support-detail{
    .cover {
        width: 100%;

        margin-bottom: 30px;

        .mask {
            width: 75%;
            height: 50vh;

            margin-left: 25%;

            position: relative;

            .overlay {
                width: 100%;
                height: 100%;

                @include gradient-primary;
                filter: opacity(90%);

                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }

            h2{
                position: absolute;
                bottom: 30px;
                left: 30px;

                z-index: 99;

                color: #fff;
            }
        }
    }

    .section{
        padding-top: 25px;
        padding-bottom: 25px;

        .section-heading{
            padding: 20px 15px;

            background-color: $gray-lighter;
            color: $gray;

            h2{
                &.title-md{
                    margin-bottom: 0;
                }
            }
        }

        .section-content{
            padding-top: 30px;

            .row{
                margin-left: 0;
                margin-right: 0;
            }
        }

        h3{
            &.title-sm{
                color: $gray;

                text-transform: uppercase;
            }
        }

        p{
            &.paragraph{
                color: $gray-light;
            }
        }

        &#support{
            .section-content{
                padding-left: 15px;
                padding-right: 15px;

                ul{
                    li{
                        a{
                            color: $gray-light;

                            &:hover{
                                color: $gray-dark;
                            }
                        }
                    }
                }
            }
        }

        &#trouble{
            .section-content{
                .accordion{
                    .card{
                        border-radius: 0;
                        border: 1px solid $gray-lighter;

                        margin-bottom: 15px;

                        .card-header{
                            background-color: $gray-lighter;
                            border-bottom: 1px solid $gray-lighter;

                            .btn{
                                &.btn-link{
                                    color: $gray;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/*
=========================================
VERTICAL TABLETS (Under 992px)
=========================================
 */

@media (max-width: 992px) and (min-width: 768px){
    #contact {
        .container {
            padding-left: 50px;
        }
    }
}

/*
=========================================
MOBILE DEVICES (Under 768px)
=========================================
 */

@media (max-width: 767px){
    #contact {
        .container {
            padding-left: 30px;
            padding-right: 30px;

            .row{
                padding-top: 130px;
            }
        }
    }
}