#cuisine{
    .main-cover{
        //Import Main Cover Stylesheet
    }

    .container-fluid {
        &#list-cuisine{
            padding-left: 0;
            padding-right: 0;

            .cuisine-style{
                position: relative;

                margin-bottom: 15px;

                &:last-of-type{
                    margin-bottom: 0;
                }

                .background-image{
                    width: 100%;
                    height: 100%;

                    position: absolute;
                    top: 0;
                    left: 0;

                    opacity: 0.15;
                }

                .container{
                    padding-top: 50px;
                    padding-bottom: 50px;

                    .heading{
                        text-align: center;

                        padding-top: 0;
                        padding-bottom: 15px;

                        position: relative;

                        &:after{
                            content: "";

                            width: 100%;
                            height: 1px;

                            background-color: $gray-base;

                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }

                        h2{
                            font-weight: 400;
                        }
                    }

                    .row{
                        padding-top: 30px;

                        .item{
                            margin-bottom: 30px;

                            .inner{
                                @include boxShadow(0,0,15px,rgba(0,0,0,0.15));

                                .mask{
                                    width: 100%;
                                    height: 270px;

                                    position: relative;

                                    .badge{
                                        position: absolute;
                                        top: 15px;
                                        left: 30px;

                                        padding: 7px 15px;

                                        @include gradient(rgba(41, 169, 224, 1), #29a9e0, rgba(41, 59, 143, 1), #293b8f, -45deg, bottom left, top right);
                                        color: #fff;
                                    }

                                    .content{
                                        width: 100%;

                                        position: absolute;
                                        bottom: 0;
                                        left: 0;

                                        padding: 50px 30px 30px;

                                        background: rgba(0,0,0,0);
                                        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%);
                                        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.85)));
                                        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%);
                                        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%);
                                        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%);
                                        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%);
                                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

                                        h3{
                                            font-weight: 400;

                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .container{
                .tab-content {
                    padding-top: 30px;

                    .tab-pane {
                        .row{
                            .item{
                                margin-bottom: 30px;
                                background-color: #fff;

                                .row{
                                    .mask{
                                        width: 100%;
                                        height: 100%;

                                        padding-left: 0;
                                    }

                                    .content{
                                        padding: 30px;

                                        display: flex;

                                        justify-content: left;
                                        align-items: center;

                                        .text{
                                            h3{
                                                font-weight: 400;

                                                margin-bottom: 15px;
                                            }
                                        }
                                    }
                                }
                            }

                            &.reversed{
                                flex-direction: row-reverse;
                            }
                        }
                    }
                }

                .see-more{
                    width: 100%;

                    text-align: center;
                }
            }
        }
    }
}

#detail-event{
    .cover{
        width: 100%;
        height: 500px;

        .mask{
            width: 100%;
            height: 100%;

            position: relative;

            .content{
                width: 100%;
                max-height: 50%;

                position: absolute;
                bottom: 0;
                left: 0;

                background: rgba(0,0,0,0);
                background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.65)));
                background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

                .container{
                    padding-top: 30px;
                    padding-bottom: 30px;

                    color: #fff;

                    h2{
                        max-width: 25%;
                    }

                    p{
                        &.text-wrapper{
                            max-width: 50%;
                            height: 4.3rem;
                            -webkit-line-clamp: 3;
                        }
                    }
                }
            }
        }
    }

    .container-fluid{
        &#content{
            background-color: #f7f7f7;

            .container{
                .row{
                    .left{
                        background-color: #fff;

                        padding-top: 30px;
                        padding-bottom: 150px;

                        article{
                            p{
                                font-family: 'Lora', Serif;

                                color: $gray-lighter;
                            }

                            img{
                                width: 100% !important;

                                margin-top: 30px;
                                margin-bottom: 30px;
                            }
                        }
                    }

                    .right{
                        padding-top: 50px;

                        .recommended{
                            .item{
                                width: 100%;

                                margin-bottom: 30px;

                                display: flex;
                                flex-direction: column;

                                background-color: #fff;

                                .item-image{
                                    width: 100%;
                                    height: 200px;

                                    .mask{
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                .item-content{
                                    width: 100%;
                                    padding: 15px 30px;

                                    .content-header{
                                        margin-bottom: 30px;

                                        span{

                                        }

                                        a{
                                            color: $gray-base;

                                            h3{
                                                font-weight: 400;
                                            }
                                        }

                                        ul{
                                            li{
                                                display: inline-block;

                                                font-size: 0.75rem;

                                                color: $gray-lightest;

                                                &:last-of-type{
                                                    margin-left: 15px;
                                                }
                                            }
                                        }
                                    }

                                    .content-body{
                                        margin-bottom: 15px;

                                        p{
                                            &.text-wrapper{
                                                height: 4.3rem;
                                                -webkit-line-clamp: 3;
                                            }
                                        }
                                    }

                                    .content-footer{
                                        text-align: right;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}