#destinations{
    .container-fluid {
        &#list-destinations{
            background-color: #f7f7f7;

            background-image: url("../img/bg-trongdong-full.png");
            background-size: unset;
            background-repeat: repeat-y;
            background-position: center center;

            .container{
                padding-top: 50px;
                padding-bottom: 50px;

                .slide{
                    width: 100%;

                    a{
                        &.carousel-control-next{
                            right: 0;
                        }

                        &.carousel-control-prev{
                            left: 0;
                        }

                        i{
                            color: $gray-lightest;
                        }

                        &:hover{
                            color: $gray-base;
                        }
                    }
                }

                .row{
                    margin-bottom: 50px;

                    .item{
                        margin-bottom: 30px;

                        .inner{
                            @include boxShadow(0,0,15px,rgba(0,0,0,0.15));

                            .mask{
                                width: 100%;
                                height: 420px;

                                position: relative;

                                .title{
                                    width: 100%;

                                    padding: 100px 30px 30px;

                                    position: absolute;
                                    bottom: 0;
                                    left: 0;

                                    color: #fff;

                                    background: rgba(0,0,0,0);
                                    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%);
                                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.85)));
                                    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%);
                                    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%);
                                    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%);
                                    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%);
                                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

                                    h2, h6{
                                        font-weight: 400;
                                    }

                                    h4{
                                        &.text-wrapper{
                                            max-width: 100%;
                                            max-height: 4em;
                                            -webkit-line-clamp: 2;
                                        }
                                    }
                                }
                            }

                            .content{
                                padding: 15px;

                                background-color: #fff;

                                ul{
                                    li{
                                        display: inline-block;

                                        margin-right: 15px;

                                        color: $gray-base;

                                        font-family: "Lora", Serif;

                                        a{
                                            color: $gray-base;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .grid{
                    margin-left: -15px;
                    margin-right: 15px;

                    .grid-sizer{
                        width: 33.33%;
                    }

                    .grid-item{
                        width: 33.33%;

                        float: left;

                        padding-left: 15px;
                        padding-right: 15px;

                        margin-bottom: 30px;

                        &.grid-item-2{
                            width: 66.67%;
                        }


                    }
                }

                .see-more{
                    width: 100%;

                    text-align: center;
                }
            }
        }
    }
}

#detail-destination{
    .main-slide{
        .carousel-inner{
        }

        .carousel-caption{
            .container{
                text-align: left;

                padding-bottom: 150px;

                .row{
                    .item{
                        h1{
                            max-width: 75%;

                            font-weight: 400;

                            margin-bottom: 7px;
                        }

                        p{
                            &.text-wrapper{
                                max-width: 75%;
                                max-height: 6em;
                                -webkit-line-clamp: 4;
                            }
                        }
                    }
                }
            }
        }

        .link-control{
            .container{
                overflow-x: auto;

                position: relative;

                //&:before{
                //    content: "f104";
                //
                //    font-family: "Font Awesome 5 Free";
                //
                //    color: #fff;
                //
                //    position: absolute;
                //    top: 50%;
                //    right: 100%;
                //
                //    @include translate(0, -50%);
                //}

                &::-webkit-scrollbar {
                    height: 3px;
                }

                &::-webkit-scrollbar-track {
                    opacity: 0;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgba(0,0,0,0.15);
                }

                .inner{
                    display: flex;

                    a{
                        flex: 0 0 auto;

                        padding: 7px 15px 15px;

                        text-shadow: 4px 4px 10px rgba(0,0,0,1);
                    }
                }

                a{
                    flex: 0 0 auto;

                    padding: 7px 15px 15px;
                }

                ul{
                    li{
                        width: 10%;
                    }
                }
            }
        }

        .link-region{
            position: absolute;
            top: 100px;
            left: 50%;

            @include translate(-50%, 0);

            ul{
                li{
                    display: inline-block;

                    @include borderRadius(7px);

                    background-color: $gray-lighter;

                    padding: 5px 7px;
                    margin: 0 15px;

                    a{
                        color: #fff;
                    }

                    &.active{
                        @include gradient(rgba(41, 169, 224, 1), #29a9e0, rgba(41, 59, 143, 1), #293b8f, -45deg, bottom left, top right);
                    }
                }
            }
        }
    }

    .container-fluid {
        &#content{
            padding:50px 0;

            .container-fluid{
                &#introduce{
                    padding-left: 0;
                    padding-right: 0;

                    .item{
                        width: 100%;

                        margin-bottom: 30px;
                        background-color: #fff;

                        display: flex;
                        flex-direction: row;

                        .row{
                            width: 100%;

                            margin-left: 0;
                            margin-right: 0;

                            .mask{
                                height: 500px;

                                padding-left: 0;
                                padding-right: 15px;
                            }

                            .content{
                                padding: 30px;

                                display: flex;

                                justify-content: left;
                                align-items: center;

                                .text{
                                    h3{
                                        font-weight: 400;

                                        margin-bottom: 15px;
                                    }
                                }
                            }

                            &.reversed{
                                flex-direction: row-reverse;

                                .mask{
                                    padding-left: 15px;
                                    padding-right: 0;
                                }
                            }
                        }
                    }
                }


                &#images{
                    background-color: $gray-lightest;

                    background-image: url("../img/bg-dragon.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;

                    .heading{
                        width: 100%;

                        text-align: center;

                        padding-top: 50px;
                        padding-bottom: 30px;

                        h3{
                            font-weight: 400;
                        }
                    }

                    .body{
                        padding-bottom: 50px;

                        .owl-carousel{
                            .owl-stage-outer{
                                .owl-item{
                                    .mask{
                                        width: 100%;
                                        height: 400px;
                                    }
                                }
                            }

                            .owl-dots{
                                text-align: center;

                                padding-top: 15px;

                                button{
                                    width: 10px;
                                    height: 10px;

                                    @include borderRadius(50%);

                                    background-color: #fff;

                                    margin: 0 7px;

                                    &.active{
                                        background-color: $gray-base;
                                    }
                                }
                            }
                        }
                    }
                }

                &.posts{
                    background-color: #fff;

                    margin-left: -15px;
                    margin-right: -15px;

                    padding-bottom: 30px;

                    .container{
                        .heading{
                            padding-top: 50px;
                            padding-bottom: 30px;

                            text-align: center;

                            h3{
                                font-weight: 400;

                                color: $gray-darker;

                                position: relative;

                                padding-bottom: 15px;

                                &:after{
                                    content: "";

                                    width: 100%;
                                    height: 1px;

                                    background-color: $gray-base;

                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                }
                            }
                        }
                    }

                    .body{
                        .owl-carousel{
                            .owl-item{
                                .mask{
                                    width: 100%;
                                    height: 230px;
                                }

                                .content{
                                    padding: 15px;

                                    background-color: #fff;

                                    h3{
                                        &.text-wrapper{
                                            height: 3.6em;
                                            -webkit-line-clamp: 3;
                                        }
                                    }

                                    p{
                                        font-family: 'Lora', Serif;

                                        color: $gray-lighter;

                                        &.text-wrapper{
                                            height: 6em;
                                            -webkit-line-clamp: 4;
                                        }
                                    }

                                    .btn{
                                        margin-top: 15px;
                                    }
                                }
                            }

                            .owl-dots{
                                text-align: center;

                                padding-top: 15px;

                                button{
                                    width: 10px;
                                    height: 10px;

                                    @include borderRadius(50%);

                                    background-color: $gray-lightest;

                                    margin: 0 7px;

                                    &.active{
                                        background-color: $gray-base;
                                    }
                                }
                            }
                        }
                    }
                }

                .see-more{
                    width: 100%;

                    text-align: center;
                }
            }
        }
    }
}

#detail-destination-post{
    .cover{

    }
}

/*
=========================================
TABLETS (less than 1200px)
=========================================
 */

@media (max-width: 1199.98px){
    #destinations {
        .container-fluid {
            &#list-destinations {
                .container {
                    .grid {
                        margin-left: 0;
                        margin-right: 0;

                        .grid-sizer {
                            width: 100%;
                        }

                        .grid-item {
                            width: 100%;

                            &.grid-item-2{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    #detail-destination{
        .main-slide{
            .link-region{
                top: 150px;

                width: 100%;

                ul{
                    display: flex;

                    li{
                        flex: 1 1 auto;

                        text-align: center;
                    }
                }
            }
        }

        .container-fluid{
            &#content{
                .container-fluid{
                    &#introduce{
                        .item{
                            .row{
                                .mask{
                                    padding-left: 0;
                                    padding-right: 0;
                                }

                                &.reversed{
                                    .mask{
                                        padding-left: 0;
                                        padding-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}