.detail-post{
    .main-cover{
        .mask{
            .content{
                .container{
                    p{
                        &.text-wrapper{
                            max-width: 100%;
                            max-height: unset;
                            -webkit-line-clamp: unset;
                        }
                    }
                }
            }
        }
    }

    .container-fluid{
        &#content{
            background-color: #f7f7f7;

            .row{
                .left{
                    background-color: #fff;

                    padding-top: 30px;
                    padding-bottom: 50px;

                    .article{
                        max-height: 100vh;

                        overflow-y: auto;

                        margin-bottom: 30px;

                        h1{
                            margin-bottom: 30px;
                        }

                        article{
                            font-family: 'Lora', Serif;

                            p{
                                font-family: 'Lora', Serif;

                                color: $gray-lighter;
                            }

                            img{
                                width: 100% !important;

                                margin-top: 30px;
                                margin-bottom: 30px;
                            }
                        }
                    }

                    .recommended{
                        .item{
                            width: 100%;

                            margin-bottom: 30px;

                            display: flex;
                            flex-direction: column;

                            background-color: #fff;

                            .item-image{
                                width: 100%;
                                height: 200px;

                                .mask{
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .item-content{
                                width: 100%;
                                padding: 7.5px;

                                .content-header{
                                    margin-bottom: 15px;

                                    a{
                                        color: $gray-base;

                                        h5{
                                            font-weight: 400;

                                            &.text-wrapper{
                                                height: 4.5rem;
                                                -webkit-line-clamp: 3;
                                            }
                                        }
                                    }

                                    ul{
                                        li{
                                            display: inline-block;

                                            font-size: 0.75rem;

                                            color: $gray-lightest;

                                            &:last-of-type{
                                                margin-left: 15px;
                                            }
                                        }
                                    }
                                }

                                .content-body{
                                    margin-bottom: 15px;

                                    p{
                                        color: $gray-lighter;

                                        &.text-wrapper{
                                            height: 4.3rem;
                                            -webkit-line-clamp: 3;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .right{
                    padding-top: 50px;

                    .recommended{
                        position: sticky;
                        position: -webkit-sticky;

                        top: 90px;

                        .item{
                            width: 100%;

                            margin-bottom: 30px;

                            display: flex;
                            flex-direction: column;

                            background-color: #fff;

                            .item-image{
                                width: 100%;
                                height: 200px;

                                .mask{
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .item-content{
                                width: 100%;
                                padding: 15px 30px;

                                .content-header{
                                    margin-bottom: 30px;

                                    span{

                                    }

                                    a{
                                        color: $gray-base;

                                        h3{
                                            font-weight: 400;
                                        }
                                    }

                                    ul{
                                        li{
                                            display: inline-block;

                                            font-size: 0.75rem;

                                            color: $gray-lightest;

                                            &:last-of-type{
                                                margin-left: 15px;
                                            }
                                        }
                                    }
                                }

                                .content-body{
                                    margin-bottom: 15px;

                                    p{
                                        color: $gray-lighter;

                                        &.text-wrapper{
                                            height: 4.3rem;
                                            -webkit-line-clamp: 3;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*
=========================================
TABLETS (less than 1200px)
=========================================
 */

@media (max-width: 1199.98px){
    .detail-post{
        .container-fluid{
            &#content{
                .row{
                    .right{
                        .recommended{
                            position: static;
                        }
                    }
                }
            }
        }

    }
}