footer{
    width: 100%;

    .footer-top{
        padding-top: 30px;
        padding-bottom: 50px;

        @include gradient(rgba(41, 169, 224, 1), #29a9e0, rgba(41, 59, 143, 1), #293b8f, -45deg, bottom left, top right);

        .container{
            .row{
                .item{
                    h4{
                        color: #fff;

                        text-transform: uppercase;

                        position: relative;

                        margin-bottom: 15px;

                        &:after{
                            content: '';

                            width: 100px;
                            height: 7px;

                            border-bottom: 2px solid #fff;

                            position: absolute;
                            bottom: -5px;
                            left: 0;
                        }
                    }

                    ul{
                        li{
                            a{
                                color: #fff;

                                font-family: 'Lora', Serif;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-bottom{

    }
}

/*
=========================================
TABLETS (Under 1024px)
=========================================
 */

@media (max-width: 1024px) and (min-width: 993px){
    footer{

    }
}

/*
=========================================
VERTICAL TABLETS (Under 992px)
=========================================
 */

@media (max-width: 992px) and (min-width: 768px){
    footer {

    }
}