footer{
    width: 100%;

    .footer-top{
        padding-top: 30px;
        padding-bottom: 50px;

        @include gradient(rgba(41, 169, 224, 1), #29a9e0, rgba(41, 59, 143, 1), #293b8f, -45deg, bottom left, top right);

        position: relative;

        .footer-bg{
            width: 100%;
            height: 100%;

            background-image: url("../img/bg-header.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100%;

            position: absolute;
            top: 0;
            left: 0;
        }

        .container{
            .row{
                .item{
                    font-family: 'Lora', Serif;
                    font-weight: 400;

                    h4{
                        color: #fff;

                        text-transform: uppercase;

                        position: relative;

                        margin-bottom: 15px;

                        &:after{
                            content: '';

                            width: 100px;
                            height: 7px;

                            border-bottom: 2px solid #fff;

                            position: absolute;
                            bottom: -5px;
                            left: 0;
                        }
                    }

                    ul{
                        li{
                            a{
                                color: #fff;
                            }
                        }
                    }

                    p{
                        color: #fff;
                    }

                    > a{
                        color: #fff;

                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .footer-bottom{
        background-color: $primary-base;

        .container{
            padding-top: 15px;
            padding-bottom: 15px;

            display: flex;
            flex-direction: row;

            justify-content: space-between;

            h6{
                font-weight: 400;

                color: #fff;
            }
        }
    }
}

/*
=========================================
TABLETS (less than 1200px)
=========================================
 */

@media (max-width: 1199.98px){
    footer{
        .footer-top {
            .container{
                .row{
                    .item{
                        &:first-of-type{
                            text-align: center;

                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}

/*
=========================================
MOBILE (less than 1024px)
=========================================
 */

@media (max-width: 767.98px){
    footer {

    }
}