header{
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1050;

    @include gradient(rgba(41, 169, 224, 1), #29a9e0, rgba(41, 59, 143, 1), #293b8f, -45deg, bottom left, top right);

    position: fixed;

    .header-bg{
        width: 100%;
        height: 100%;

        background-image: url("../img/bg-header.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    nav{
        width: 100%;
        height: 80px;

        padding-left: 60px;
        padding-right: 60px;

        display: flex;
        flex-direction: row;

        justify-content: space-between;
        align-items: center;

        z-index: 1051;

        .nav-brand{
            height: 100%;
            background-color: #000;

            a{
                color: #fff;

                img{
                    height: 100%;
                }
            }
        }

        .nav-main{
            ul{
                margin-bottom: 0;

                li{
                    display: inline-block;

                    padding: 0 15px 0;

                    position: relative;

                    span{
                        display: none;
                    }

                    a{
                        color: #fff;

                        font-family: 'Lora', serif;
                        font-size: 1rem;
                        font-weight: 700;

                        text-transform: uppercase;

                        padding-bottom: 15px;

                        position: relative;

                        &:after{
                            content: "";

                            width: 100%;
                            height: 3px;

                            background-color: #fff;

                            position: absolute;
                            bottom: -3px;
                            left: 0;

                            display: none;
                        }
                    }

                    ul{
                        position: absolute;
                        top: 100%;
                        left: 0;

                        width: 200px;
                        background-color: #fff;

                        display: none;

                        li{
                            padding: 15px;

                            border-bottom: 1px solid $primary-base;

                            &:last-of-type{
                                border-bottom: none;
                            }

                            a{
                                color: $primary-darkest;
                            }
                        }
                    }

                    &.li-lang{
                        margin: 0 7.5px;

                        padding: 0 15px 0;

                        &.active{
                            @include borderRadius(3px);

                            background-color: #fff;

                            a{
                                color: $primary-darkest;
                            }
                        }

                        &:hover{
                            a{
                                &:after{
                                    display: none;
                                }
                            }
                        }
                    }

                    &.li-search{
                        a{
                            .input-group{
                                display: none;
                            }
                        }

                        .search-input{
                            position: absolute;
                            bottom: 5px;
                            right: 0;
                            z-index: 99;

                            width: 700px;
                            height: 100%;

                            background-color: #fff;

                            display: none;

                            &.show{
                                display: block;
                            }

                            .input-group{
                                .input-group-append{
                                    .btn{
                                        background-color: #fff;
                                    }
                                }
                            }
                        }

                        &:hover{
                            a{
                                &:after{
                                    display: none;
                                }
                            }
                        }
                    }

                    &:hover{
                        a{
                            &:after{
                                display: block;
                            }
                        }

                        ul{
                            li{
                                a{
                                    &:after{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .info{
                display: none;
            }
        }

        .nav-expand{
            display: none;
        }
    }

    .header-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        width: 100%;
        height: 100%;
    }
}

/*
=========================================
DESKTOP (more than 1200px)
=========================================
 */

@media (min-width: 1199.98px){
header{
    nav{
        .nav-main{
            ul{
                li{
                    &:hover{
                        ul{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
}

/*
=========================================
TABLETS (less than 1200px)
=========================================
 */

@media (max-width: 1199.98px){
    header{
        height: 100px;

        @include transition(300ms);

        &.active{
            height: 100vh;

            @include transition(300ms);
        }

        .header-bg{
            background-position: left center;
            background-size: cover;
        }

        nav{
            height: 100px;

            align-items: center;

            .nav-main{
                width: 100%;
                height: 100vh;

                position: fixed;
                top: -100vh;
                left: 0;
                z-index: 1049;

                display: flex;
                flex-direction: column;

                justify-content: center;
                align-items: center;

                @include transition(300ms);

                //@include gradient(rgba(41, 169, 224, 1), #29a9e0, rgba(41, 59, 143, 1), #293b8f, -45deg, bottom left, top right);

                &.active{
                    top: 100px;

                    @include transition(300ms);
                }

                ul{
                    display: flex;
                    flex-direction: column;

                    li{
                        margin: 7.5px 0;

                        text-align: center;

                        &:nth-of-type(6){
                            order: -1;

                            span{
                                display: inline;
                            }
                        }

                        ul{
                            display: none;
                        }

                        &.li-search{
                            a{
                                i{
                                    display: none;
                                }

                                .input-group{
                                    display: flex;

                                    input{
                                        text-align: center;

                                        background-color: transparent;
                                        border: none;

                                        font-family: "Lora", Serif;
                                        font-size: 1rem;
                                        font-weight: 700;
                                        text-transform: uppercase;

                                        color: #fff;

                                        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                            color: #fff;
                                        }
                                        &::-moz-placeholder { /* Firefox 19+ */
                                            color: #fff;
                                        }
                                        &:-ms-input-placeholder { /* IE 10+ */
                                            color: #fff;
                                        }
                                        &:-moz-placeholder { /* Firefox 18- */
                                            color: #fff;
                                        }
                                    }

                                    .input-group-append{
                                        .btn{
                                            border: none;
                                            color: #fff;

                                            i{
                                                display: block;
                                            }
                                        }
                                    }
                                }

                            }

                            .search-input{
                                display: block;

                                width: 100%;
                                height: fit-content;

                                form{
                                    .input-group{
                                        .input-group-append{
                                            .btn{
                                                &:last-of-type{
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .info{
                    display: block;

                    margin-top: 50px;

                    text-align: center;

                    color: #fff;

                    h4{
                        margin-bottom: 15px;
                        padding-bottom: 15px;

                        border-bottom: 2px solid #fff;
                    }

                    a{
                        color: #fff;
                    }
                }
            }

            .nav-expand{
                width: 100px;
                height: 100px;

                display: flex;

                justify-content: center;
                align-items: center;

                .line{
                    width: 35px;
                    height: 5px;

                    background-color: #fff;

                    position: relative;

                    @include transition(300ms);

                    &:before, &:after{
                        content: "";

                        width: 35px;
                        height: 5px;

                        background-color: #fff;

                        position: absolute;

                        @include transition(300ms);
                    }

                    &:before{
                        margin-top: -10px;
                    }

                    &:after{
                        margin-top: 10px;
                    }
                }

                &.active{
                    .line{
                        background-color: transparent;

                        @include transition(300ms);

                        &:before{
                            margin-top: 0;

                            @include rotate(-45deg);

                            @include transition(300ms);
                        }

                        &:after{
                            margin-top: 0;

                            @include rotate(45deg);

                            @include transition(300ms);
                        }
                    }
                }
            }
        }
    }
}

/*
=========================================
MOBILE (less than 1024px)
=========================================
 */

@media (max-width: 767.98px){
    header{
        .header-bg{
            background-position: left center;
            background-size: cover;
        }

        nav{
            padding-left: 30px;
            padding-right: 30px;

            .nav-main{
                ul{
                    @include translate(0, -50px);

                    li{
                        padding: 0 15px 5px;
                    }
                }

                .info{
                    margin-top: 0px;
                }
            }
        }
    }
}

