#homepage{
    #slideHomepage{
        width: 100%;
        height: 100vh;

        .carousel-inner{
            height: 100%;

            .carousel-item{
                height: 100%;

                .mask{
                    width: 100%;
                    height: 100%;
                }

                .carousel-caption{
                    text-align: left;

                    padding-bottom: 30px;

                    .row{
                        .item{
                            &:first-of-type{
                                a{
                                    display: none;
                                }
                            }

                            h1{
                                margin-bottom: 7px;
                            }

                            h4{
                                font-weight: 400;

                                &.text-wrapper{
                                    max-height: 3.5em;
                                    -webkit-line-clamp: 3;
                                }
                            }

                            p{
                                margin-bottom: 30px;

                                &.text-wrapper{
                                    height: 6em;
                                    -webkit-line-clamp: 4;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .container-fluid{
        &#exp-activities{
            padding-left: 0px;
            padding-right: 0px;

            .heading{
                padding-top: 50px;
                padding-bottom: 30px;

                text-align: center;

                background-image: url("../img/bg-trongdong.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;

                h3{
                    text-transform: uppercase;

                    color: $gray-darker;

                    position: relative;

                    padding-bottom: 15px;

                    &:after{
                        content: "";

                        width: 100%;
                        height: 1px;

                        background-color: $gray-base;

                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }
            }

            .body{
                #north{
                    .grid{
                        margin-left: -15px;
                        margin-right: -15px;

                        .grid-sizer, .grid-item{
                            width: 50%;
                        }

                        .grid-item{
                            float: left;

                            margin-bottom: 30px;

                            padding-left: 15px;
                            padding-right: 15px;

                            .mask{
                                width: 100%;
                                height: 100%;

                                position: relative;

                                img{
                                    @include transition(300ms);
                                }

                                .content{
                                    width: 100%;

                                    bottom: 0;
                                    left: 0;

                                    position: absolute;

                                    background: rgba(0,0,0,0);
                                    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.65)));
                                    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
                                }
                            }

                            &:hover{
                                .mask{
                                    img{
                                        @include scale(1.1, 1.1);

                                        @include transition(300ms);
                                    }
                                }
                            }

                            &.item-full{
                                height: 630px;

                                .content{

                                    padding: 50px 30px 30px;

                                    h1{
                                        max-width: 50%;

                                        font-weight: 400;

                                        color: #fff;

                                        margin-bottom: 30px;
                                    }
                                }
                            }

                            &.item-half{
                                height: 300px;

                                .content{
                                    padding: 30px;

                                    a{
                                        color: #fff;
                                    }

                                    p{
                                        max-width: 50%;

                                        &.text-wrapper{
                                            height: 4.3rem;
                                            -webkit-line-clamp: 3;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }

                #center{
                    .row{
                        .left{
                            .mask{
                                width: 100%;
                                height: 630px;

                                position: relative;

                                img{
                                    @include transition(300ms);
                                }

                                .content{
                                    width: 100%;

                                    bottom: 0;
                                    left: 0;

                                    position: absolute;

                                    background: rgba(0,0,0,0);
                                    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.65)));
                                    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

                                    padding: 50px 30px 30px;

                                    h1{
                                        max-width: 50%;

                                        font-weight: 400;

                                        color: #fff;

                                        margin-bottom: 30px;
                                    }
                                }

                                .list-region{
                                    width: 25%;
                                    height: 100%;

                                    overflow-y: scroll;

                                    position: absolute;
                                    top: 0;
                                    right: 0;

                                    &::-webkit-scrollbar{
                                        background-color: transparent;
                                    }

                                    ul{
                                        li{
                                            margin: 25px 0;

                                            text-align: right;

                                            a{
                                                font-family: 'Roboto', sans-serif;
                                                font-weight: 700;

                                                color: #fff;
                                            }
                                        }
                                    }
                                }

                                &:hover{
                                    img{
                                        @include scale(1.1, 1.1);

                                        @include transition(300ms);
                                    }
                                }
                            }
                        }

                        .right{
                            .row{
                                .item{
                                    margin-bottom: 30px;
                                    .mask{
                                        width: 100%;
                                        height: 300px;

                                        img{
                                            @include transition(300ms);
                                        }

                                        &:hover{
                                            img{
                                                @include scale(1.1, 1.1);

                                                @include transition(300ms);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                #south{
                    .row{
                        .top{
                            margin-bottom: 30px;

                            .mask{
                                width: 100%;
                                height: 365px;

                                position: relative;

                                img{
                                    @include transition(300ms);
                                }

                                .content{
                                    width: 100%;

                                    bottom: 0;
                                    left: 0;

                                    position: absolute;

                                    background: rgba(0,0,0,0);
                                    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.65)));
                                    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

                                    padding: 50px 30px 30px;

                                    text-align: center;

                                    h1{
                                        font-weight: 400;

                                        color: #fff;

                                        margin-bottom: 30px;
                                    }
                                }

                                &:hover{
                                    img{
                                        @include scale(1.1, 1.1);

                                        @include transition(300ms);
                                    }
                                }
                            }
                        }

                        .bottom{
                            .row{
                                .item{
                                    .mask{
                                        width: 100%;
                                        height: 225px;

                                        img{
                                            @include transition(300ms);
                                        }

                                        &:hover{
                                            img{
                                                @include scale(1.1, 1.1);

                                                @include transition(300ms);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &#events{
            background-image: url("../img/bg-dragon-heads.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center;

            .container{
                .heading{
                    padding-top: 50px;
                    padding-bottom: 30px;

                    text-align: center;

                    h3{
                        text-transform: uppercase;

                        color: $gray-darker;

                        position: relative;

                        padding-bottom: 15px;

                        &:after{
                            content: "";

                            width: 100%;
                            height: 1px;

                            background-color: $gray-base;

                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                    }
                }

                .body{
                    .grid{
                        margin-left: -7.5px;
                        margin-right: -7.5px;

                        .grid-sizer, .grid-item{
                            width: 25%;
                        }

                        .grid-item{
                            float: left;

                            margin-bottom: 15px;

                            padding-left: 7.5px;
                            padding-right: 7.5px;

                            .mask{
                                width: 100%;
                                height: 100%;

                                position: relative;

                                .content{
                                    width: 100%;

                                    padding: 30px;

                                    position: absolute;
                                    bottom: 0;
                                    left: 0;

                                    background: rgba(0,0,0,0);
                                    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.65)));
                                    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

                                    a{
                                        color: #fff;
                                    }
                                }
                            }

                            &:nth-of-type(2){
                                width: 50%;
                                height: 515px;
                            }

                            &:nth-of-type(3), &:nth-of-type(4){
                                width: 25%;
                                height: 250px;
                            }

                            &:nth-of-type(5){
                                width: 50%;
                                height: 250px;
                            }

                            &:nth-of-type(6){
                                width: 25%;
                                height: 515px;
                            }

                            &:nth-of-type(7){
                                width: 50%;
                                height: 515px;
                            }

                            &:nth-of-type(8){
                                width: 25%;
                                height: 515px;

                                .content{
                                    width: 100%;
                                    height: 100%;

                                    display: flex;

                                    justify-content: center;
                                    align-items: center;

                                    text-align: center;

                                    p{
                                        font-family: 'Roboto', sans-serif;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &#blogs{
            background-color: #f7f7f7;

            .container{
                padding-bottom: 50px;

                .heading{
                    padding-top: 50px;
                    padding-bottom: 30px;

                    text-align: center;

                    h3{
                        text-transform: uppercase;

                        color: $gray-darker;

                        position: relative;

                        padding-bottom: 15px;

                        &:after{
                            content: "";

                            width: 100%;
                            height: 1px;

                            background-color: $gray-base;

                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                    }
                }

                .body{
                    .owl-carousel{
                        .owl-item{
                            .mask{
                                width: 100%;
                                height: 230px;
                            }

                            .content{
                                padding: 15px;

                                background-color: #fff;

                                h3{
                                    font-weight: 400;
                                }

                                p{
                                    color: $gray-lighter;

                                    height: 6em;
                                    -webkit-line-clamp: 4;
                                }

                                .btn{
                                    margin-top: 15px;
                                }
                            }
                        }

                        .owl-dots{
                            text-align: center;

                            padding-top: 15px;

                            button{
                                width: 10px;
                                height: 10px;

                                @include borderRadius(50%);

                                background-color: $gray-lightest;

                                margin: 0 7px;

                                &.active{
                                    background-color: $gray-base;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*
=========================================
TABLETS (less than 1200px)
=========================================
 */

@media (max-width: 1199.98px){
    #homepage{
        #slideHomepage{
            .carousel-inner{
                .carousel-item{
                    .carousel-caption{
                        text-align: left;

                        padding-bottom: 30px;

                        .row{
                            .item{
                                &:first-of-type{
                                    margin-bottom: 30px;

                                    a{
                                        margin-top: 30px;

                                        display: block;
                                    }
                                }

                                &:nth-of-type(2){
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .container-fluid{
            &#exp-activities{
                .body{
                    #north{
                        .grid{
                            margin-left: 0;
                            margin-right: 0;

                            .grid-sizer, .grid-item{
                                width: 100%;
                            }

                            .grid-item{
                                margin-bottom: 15px;

                                &.item-full{
                                    height: 340px;
                                }

                                &.item-half{
                                    height: 340px;
                                }
                            }
                        }
                    }

                    #center{
                        > .row{
                            margin-left: 0;
                            margin-right: 0;

                            .left{
                                margin-bottom: 15px;

                                .mask{
                                    height: 340px;
                                }
                            }

                            .right{
                                .row{
                                    .item{
                                        .mask{
                                            height: 230px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    #south{
                        > .row{
                            margin-left: 0;
                            margin-right: 0;

                            .top{
                                .mask{
                                    height: 340px;
                                }
                            }

                            .bottom{
                                .row{
                                    .item{
                                        margin-bottom: 30px;

                                        .mask{
                                            height: 230px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &#events{
                .container{
                    padding-left: 0;
                    padding-right: 0;

                    .body{
                        .grid{
                            .grid-sizer, .grid-item{
                                width: 50%;
                            }

                            .grid-item{
                                height: 250px;

                                &:nth-of-type(2){
                                    width: 100%;
                                }

                                &:nth-of-type(3), &:nth-of-type(4){
                                    width: 50%;
                                }

                                &:nth-of-type(5){
                                    width: 100%;
                                }

                                &:nth-of-type(6){
                                    width: 100%;
                                }

                                &:nth-of-type(7){
                                    width: 50%;
                                }

                                &:nth-of-type(8) {
                                    width: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*
=========================================
MOBILE (less than 1024px)
=========================================
 */

@media (max-width: 767.98px){

}