//Set Transition Effect

@mixin transition($duration){
    -webkit-transition: all ease-in-out $duration;
    -moz-transition: all ease-in-out $duration;
    -ms-transition: all ease-in-out $duration;
    -o-transition: all ease-in-out $duration;
    transition: all ease-in-out $duration;
}

//Set Translate Transform

@mixin translate($x, $y){
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    transform: translate($x, $y);
}

//Set Scale Transform

@mixin scale($x, $y){
    -webkit-transform: scale($x, $y);
    -moz-transform: scale($x, $y);
    -ms-transform: scale($x, $y);
    -o-transform: scale($x, $y);
    transform: scale($x, $y);
}

//Set Border Radius

@mixin borderRadius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

//Make Gradient
@mixin gradient($start-rgba, $start-hex, $end-rgba, $end-hex, $deg, $star-pos, $end-pos){
    background: $start-rgba;
    background: -moz-linear-gradient($deg, $start-rgba 0%, $end-rgba 100%);
    background: -webkit-gradient($star-pos, $end-pos, color-stop(0%, $start-rgba), color-stop(100%, $end-rgba));
    background: -webkit-linear-gradient($deg, $start-rgba 0%, $end-rgba 100%);
    background: -o-linear-gradient($deg, $start-rgba 0%, $end-rgba 100%);
    background: -ms-linear-gradient($deg, $start-rgba 0%, $end-rgba 100%);
    background: linear-gradient(-(180-$deg), $start-rgba 0%, $end-rgba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-hex', endColorstr='$end-hex', GradientType=1 );
}

