/*
===========================
===========================

RESERVATIONS STYLE

Author: hung.luong@matocreative.vn

===========================
===========================
 */

#reservations{
    width: 100%;

    overflow-x: hidden;

    position: relative;

    .container{
        padding-left: 150px;
        padding-bottom: 50px;

        .row{
            &.head{
                .right{
                    padding-top: 70px;
                }
            }

            &.body{
                form{
                    width: 100%;
                }
            }
        }
    }

    .cover{
        width: 50%;
        height: 83.33%;

        position: absolute;
        top: 50%;
        left: 0;

        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);

        .mask{
            width: 100%;
            height: 100%;
        }
    }

    #side-title{
        position: absolute;

        top: 25%;
        left: 75vw;
        -webkit-transform: rotateZ(90deg);
        -moz-transform: rotateZ(90deg);
        -ms-transform: rotateZ(90deg);
        -o-transform: rotateZ(90deg);
        transform: rotateZ(90deg);

        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;

        text-align: right;

        width: 100vh;
        height: 25vw;
        overflow: hidden;

        h1{
            &.title-xlg{
                color: $gray-lighter;
            }
        }
    }
}

/*
=========================================
VERTICAL TABLETS (Under 992px)
=========================================
 */

@media (max-width: 992px) and (min-width: 768px){
    #reservations {
        .container {
            padding-left: 50px;
        }
    }
}

/*
=========================================
MOBILE DEVICES (Under 768px)
=========================================
 */

@media (max-width: 767px){
    #reservations {
        .container {
            padding-left: 30px;
            padding-right: 30px;

            .row{
                &.head{
                    padding-top: 130px;

                    .right{
                        padding-top: 0;
                    }
                }
            }
        }
    }
}