/*
===========================
===========================

MAIN VARIABLES

Author: hung.luong@matocreative.vn

===========================
===========================
 */

$primary: #850000;
$secondary: #29256A;

$gray-lighter: #e7e7e7;
$gray-light: #999;
$gray: #666;
$gray-dark: #333;
$gray-draker: #2e2e2e;